body {
  padding: 20px;
  font: 14px "微软雅黑","Microsoft YaHei", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

ul li {
  list-style: none;
}

.top-loginbar {
  background: #e5e5e5;
  padding:0.6rem;
}

.login {
  padding-right: 3em;
}

.delimiter {
  color: gray;
}

.charge {
  padding-left: 3em;
}

.top-navbar {
  background: #f5f1f1;
  padding: 1rem 1.5rem;
}

.logo {
  text-align: center;
}

.navmenu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navmenu a {
  color: black;
}

.navmenu a:hover {
  color: orange;
}

.navmenu a:not(:last-child)::after {
  content: "";
  background-color: rgb(191, 191, 191);
  position: absolute;
  width: 1px;
  height: 16px;
  margin: 0.3rem 1.5rem;
}

/* .nav-delimiter {
  background-color: rgb(191, 191, 191);
  position: absolute;
  width: 1px;
  height: 16px;
} */

.top-loginbar .container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.navmenu .menu {
  float: left;
  padding-left: 3rem;
}

.content {
  min-height: 66vh;
}

.category {
  text-align: center;
  font-size: 1.2rem;
  padding: 3rem;
}

.games {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.game {
  padding: 1rem;
  text-align: center;
}

.game img:hover {
  transition: all .2s ease-in-out;
  transform: scale(1.1);
}

.game .name {
  font-size: 40px;
}

.game .desc {
  font-size: 21px;
}

.propose {
  text-align: center;
}

.misc {
  text-align: center;
}

.footer {
  background-image: url(../images/sea.png); 
  background-size:     contain;
  background-repeat:   no-repeat;
  color: #ffffff;
  background-color: #ffffff;
}

.footer .container {
  padding-top: 0.5rem;
}

.misc {
  margin-top: 10px;
}
.misc .company {
  padding-right: 20px;
}

.law p {
  text-indent: 2em;
}

.agreement p {
  text-indent: 2em;
}

.agreement h5 {
  text-align: center;
}

.supervision p {
  text-indent: 2em;
}

.contact-us {
  text-align: center;
}

.pay-tabs {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.charge-btn {
  text-align: center;
  padding: 2rem;
}

.card-content .content {
  min-height: 30vh;
}