<!DOCTYPE html>
<html>
<%- include('header'); -%>

    <body>
        <%- include('navbar'); -%>
            <section class="content">
                <div class="category">关于我们</div>
                <div class="container">
                    <p>
                        深圳市冰海互娱科技有限公司创立于2018年，公司位于深圳科技园，创始人主要来自腾讯知名项目，公司致力于自研引擎的微信原创小游戏研发。
                    </p>
                    <p>
                        公司致力于网络休闲娱乐产品的研发、推广与服务，通过聚焦客户需求，加速网络休闲娱乐领域的技术创新和应用，提供好玩的休闲娱乐产品，改善大众生活方式，为大众提供娱乐平台。作为网络休闲娱乐领域的专业服务商，我们的目标是通过数字娱乐改善大众生活。
                    </p>
                </div>
            </section>
            <%- include('footer'); -%>
    </body>

</html>