<!DOCTYPE html>
<html>
<%- include('header'); -%>
    <body>
        <%- include('navbar'); -%>
            <section class="content">
                <div class="category">冰海互娱通行证使用协议和隐私政策</div>
                <div class="container agreement">
                    <h5>
                        冰海互娱通行证用户协议：
                    </h5>
                    <p><strong>1.释义</strong> </p>
                    <p>本服务条款系由用户与深圳市冰海互娱科技有限公司与相关软件与技术服务提供方（在本服务条款中统称为"冰海互娱"）就深圳市冰海互娱科技有限公司所提供的网络服务及其他相关软件与技术服务提供方所提供的技术服务（统称为”服务”）所订立的相关权利义务规范。用户指愿意使用冰海互娱提供的服务的个人。此份合约描述冰海互娱向用户提供服务的详细条款。因此，请于注册成为服务用户前，确实详细阅读本服务条款的所有内容，当用户点选同意键或使用任何服务即视为同意并接受本服务条款的所有规范并愿受其约束。用户应当明确：无论事实上是否在注册前认真阅读，只要用户点击“同意”按钮并按照相关注册程序成功注册或者已经正在使用本公司提供的服务，用户的行为就已表示用户无条件接受了本协议及深圳市冰海互娱科技有限公司所公布的与的各项管理规定，并愿意受其约束。如果发生纠纷，用户不得以未仔细阅读为由实行抗辩。 </p>
                    <p><strong>2.著作权声明</strong> </p>
                    <p>冰海互娱所提供的服务的相关着作权、专利权、商标、营业秘密及其它任何所有权或权利，均属冰海互娱所有。非经冰海互娱的同意，任何人或用户均不得擅自下载、重制、传输、改作、编辑，否则应负所有法律责任。冰海互娱拥有向用户提供服务过程中所产生并储存于冰海互娱服务器中的任何数据信息（包括但不仅限于账号等数据信息）的所有权。</p>
                    <p><strong>3.用户的基本义务</strong> </p>
                    <p>3.1 用户需自行配备注册和使用网络所需的各项计算机及网络设备，并自行负担上网所需的各项费用。 </p>
                    <p>3.2 冰海互娱向用户提供的服务本身属于商业行为，目前用户可以免费注册及使用，但冰海互娱保留将来要求用户支付相应费用的权利（自冰海互娱公告之日起）。 </p>
                    <p>3.3 用户同意于注册时提供其本人真实准确的法定姓名、性别和居民身份证号码等个人身份识别资料和完整、详尽、真实的其他个人资料。用户确认其本人已年满18周岁。个人身份识别资料一经注册，除特殊情况下经冰海互娱许可外，用户无权进行单方面变更。对账号的使用权，归该居民身份证号码所对应之居民身份证持有者所有。用户应充分认识到身份证信息是账号所有权的主要凭证，若用户在线上进行了身份证信息的变更并生效后，对该账号的所有权归修改后的居民身份证持有者所有。若任何人因无法提供当前账号所对应的居民身份证证实其对账号拥有合法权利或授权，导致冰海互娱无法为其提供或继续提供服务的，冰海互娱将不承担因此产生的任何责任。用他人身份证号码及杜撰虚假身份证号码注册的用户的权益在游戏中将得不到任何保障。对提供虚假身份证号码的用户，冰海互娱有权随时中断或终止向用户提供本协议项下的服务（包括收费服务）而无需对用户或任何第三方承担任何责任；对用他人身份证号码注册的用户，应该身份证号码对应之本人请求，冰海互娱有权随时中断或终止向该身份证号码对应之账号提供本协议项下的服务（包括收费服务）而无需对用户或任何第三方承担任何责任。对于除个人身份识别资料之外的其他个人资料，若用户日后有变更者，应及时于线上进行更新。若用户所提供的其他个人资料与事实不符或所提供的资料业已变更而未更新或有任何误导之嫌而导致冰海互娱无法为用户提供或继续提供服务，因此而产生的全部责任均由用户承担而与冰海互娱无关。</p>
                    <p>3.4 用户有义务妥善保管使用在注册服务时获得的账号及密码，并为此账号及密码登入系统后所开始的一连串行为或活动负责。 </p>
                    <p>3.5 为维护自身权益，用户不应将账号及密码泄漏或提供第三人知悉或出借或转让与他人使用，如因用户自身过错或过失而导致账号或密码泄漏而给用户自身造成损失，用户应自行承担责任。冰海互娱员工不会在电话或邮件中询问用户的密码，所以用户不得对任何人泄漏用户的密码。如果用户遗失了密码，冰海互娱针对处理此问题之服务保留索取额外费用的权利。 </p>
                    <p>3.6 若用户发现账号或密码遭他人非法使用或有异常使用的情形，应立即通知冰海互娱，并提交该账号为本人所有的有关证明，以便申请该账号的暂停使用，因此而造成的损失，冰海互娱不承担赔偿责任。但在用户根据法律规定申请立案的情况下，冰海互娱有义务协助查询。 </p>
                    <p>3.7 由于用户及市场状况的不断变化，冰海互娱保留随时修改本服务条款的权利，修改本服务条款时，冰海互娱将于相关页面公告修改的事实，而不另行对用户进行个别通知。若用户不同意修改的内容，可停止使用全部冰海互娱所提供的服务。若用户继续使用冰海互娱所提供的任意服务，即视为用户业已冰海互娱所修订的内容。 </p>
                    <p>3.8 同意了本合约的条款之后，冰海互娱将授予允许用户以一个合法付费账号而获得冰海互娱提供的服务的权利。用户不得对包括但不仅限于冰海互娱的网站及提供的软件进行修改，还原工程(Reverse Engineering)，译码(Decompile)，反向组译(Disassemble)、复制(copy)或散布(distribute)。 </p>
                    <p>3.9 用户不可以使用任何第三方程序登录或使用冰海互娱所提供的服务。用户不可以使用冰海互娱任何知识产权，来创造或提供相同或类似的服务，如仿真服务器等。用户不可以对冰海互娱服务器采取任何的Hack行为，或是尝试着使冰海互娱服务器过度负荷。用户在拥有合法的账号下，可以在冰海互娱的服务器上传使用服务所必须的资料， 资料的内容不得如下： </p>
                    <p>
                        <ul>
                            <li>(a)侵犯任何第三者的知识产权，版权或公众/私人权利;</li>
                            <li>(b)违反任何法律或善良风俗;</li>
                            <li>(c)包含任何毁谤他人，性骚扰，种族歧视，或对孩童有不良影响的内容;</li>
                            <li>(d)包含病毒、特洛依木马、定时炸弹等可能对冰海互娱系统造成伤害或影响其稳定性的内容。</li>
                        </ul>
                    </p>
                    <p>冰海互娱得依照上传内容的严重性采取任何动作。用户在此授权冰海互娱执行任何有关用户上传的内容的知识产权。</p>
                    <p><strong>4.个人资料的保护及其限制</strong></p>
                    <p>4.1 对于用户所登录留存的个人资料，除下列情形外，冰海互娱同意在未得到用户同意前，不公开对外披露： </p>
                    <p>
                        <ul>
                            <li>a.基于法律规定；</li>
                            <li>b.基于司法机关或其它有权机关基于法定程序的要求；</li>
                            <li>c.为保障冰海互娱的财产及权益；</li>
                            <li>d.在紧急情况下为保护其它用户或第三人的人身安全的情形下；</li>
                            <li>e.用户随服务转移</li>
                        </ul>
                    </p>
                    <p>4.2 对于用户所登录的个人资料，用户同意冰海互娱及其关系企业或合作对象，可以在合理范围内搜集、处理、保存、传递及使用该资料，以提供用户其它信息及服务或做成会计资料，或进行网络行为的调查或研究，或其它任何合法使用。 </p>
                    <p>4.3 冰海互娱无法保证不将用户的个人资料或通讯内容给予第三者。举例来说，如果政府需要资料时冰海互娱将被迫交出，或者是有其它的第三者拦截网络的传输内容。此外，用户授权冰海互娱可将用户的资料给予执法机关或政府相关单位，以利调查或问题解决的进行。除此之外，当用户要求冰海互娱给予任何技术上的协助时，用户授权冰海互娱远程检视与更改用户计算机的内容。为了更新程序的需要，用户授权冰海互娱(i)从用户的计算机上传档案(ii)下载档案到用户的计算机。 </p>
                    <p>4.4 冰海互娱公司不认可在非冰海互娱公司提供的交易平台所产生的交易结果，玩家从非冰海互娱公司提供的交易平台所获得的虚拟装备以及游戏币将被认定为来源不符合游戏规则，若有玩家对上述交易行为或交易结果提出异议，冰海互娱公司将基于玩家的请求对上述异议进行处理。为保障玩家能愉悦的体验游戏，保障玩家的正当利益不受到侵害，冰海互娱公司对盗号及盗号相关行为（包括但不限于盗取帐号、游戏数据、玩家个人资料、协助盗号者操作及转移物品等行为）将予以严厉打击和处罚。一经查证属实或应有权机关的要求，冰海互娱公司有权视具体情况立即采取暂时隔离、永久隔离、封停帐号、删除档案等措施，情节严重的，冰海互娱公司保留对涉案玩家追究法律责任的权利。在查证玩家被盗事件的过程中，为能够快速调查、处理问题，冰海互娱公司将会请相关玩家协助调查，其方式包括但不限于隔离调查、线上交流、线下交流等。 </p>
                    <p><strong>5.用户使用服务的限制</strong> </p>
                    <p>5.1 冰海互娱严禁用户利用使用冰海互娱所提供的服务而做与使用该等服务无关的行为，包括但不限于妨害他人名誉或隐私权；或使用自己、匿名或冒用他人或冰海互娱名义散播诽谤、不实、威胁、不雅、猥亵、不法、攻击性或侵害他人权利的消息或文字，传播色情或其它违反社会公德的言论；传输或散布计算机病毒；从事广告或贩卖商品；从事不法交易或张贴虚假不实或引人犯罪的信息；或任何违反中华人民共和国法律或其它法令的行为，亦不得利用使用该等服务的机会，与其它用户或他人进行非法的交涉或对话。 </p>
                    <p>5.2 用户对冰海互娱服务管理人员所进行的询问应据实澄清，否则冰海互娱有权随时终止用户使用服务；冰海互娱发现不法或可疑的行为者，冰海互娱有权随时通报司法或相关机关处理，并有权同时向该机关呈报用户的基本资料及行为供该等机关为调查。用户就因此所致生的不便或困扰，不得向冰海互娱请求任何损害或补偿。 </p>
                    <p>5.3 用户应就其在使用冰海互娱所提供的服务过程中的行为或活动自负责任，冰海互娱仅提供服务予用户自行执行或与其它用户依照服务规则共同使用，冰海互娱就用户在使用其所提供的服务过程中的行为或活动或交易不负任何责任。 </p>
                    <p>5.4 冰海互娱不支持使用任何第三方程序进行登录，由此引起的一切问题及后果，由用户自行承担，冰海互娱不承担任何责任，并保留终止向用户提供服务的权利。 </p>
                    <p>5.5 下列行为将视为用户违反本合约之行为： </p>
                    <p>
                        <ul>
                            <li>(a)如果用户违反了本合约的任何约定；</li>
                            <li>(b)如果用户使用任何第三方程序登录或使用服务；</li>
                            <li>(c)冰海互娱发现用户所填的个人资料是不真实的；</li>
                        </ul>
                    </p>
                    <p>对于用户的违约行为，冰海互娱在游戏中将根据官方网站上所公布的冰海互娱的管理制度予以处分,同时冰海互娱保留追究用户其他责任的权利。 </p>
                    <p>5.6 用户连续在游戏规定的时间内没有使用冰海互娱所提供该游戏的服务，则自该游戏规定时间后的24时起，冰海互娱有权采取措施终止该用户继续使用该服务。 </p>
                    <p><strong>6.服务的停止和更改</strong> </p>
                    <p>6.1 发生下列情形之一时，冰海互娱有权停止或中断向用户提供的服务： </p>
                    <p>6.1.1 对于网络设备进行必要的保养及施工 </p>
                    <p>6.1.2 发生突发性的网络设备故障时 </p>
                    <p>6.1.3 由于冰海互娱所用的网络通信设备由于不明原因停止，无法提供服务时 </p>
                    <p>6.1.4 由于不可抗力因素致使冰海互娱无法提供线上服务</p>
                    <p>6.1.5 由于相关政府机构的要求</p>
                    <p>6.1.6 游戏运营合约截止时</p>
                    <p>6.2 在本协议约定的情形下，冰海互娱就停止或更改或终止向用户所提供的服务而可能产生的不便或损害，冰海互娱对用户本人或任何第三人均不负任何损害赔偿责任。</p>
                    <p>6.3 用户应了解并同意，冰海互娱所提供的服务可能因公司本身、其它合作厂商或相关电信业者网络系统软硬件设备的故障、失灵、或因合作方及相关电信工作人员人为操作的疏失而全部或一部分中断、暂时无法使用、迟延或因他人侵入冰海互娱系统篡改或伪造变造资料等，造成服务的停止或中断者或用户档案缺失，用户不得要求冰海互娱提供任何的补偿或赔偿。 </p>
                    <p><strong>7.风险承担</strong></p>
                    <p>用户同意使用冰海互娱所提供的服务是出于用户个人意愿，并愿自负任何风险，包括但不限于其因使用冰海互娱服务或自行由深圳市冰海互娱科技有限公司官方网站下载游戏或资料图片而导致用户或其所使用的计算机软、硬件的损害，或发生任何资料的流失等。 </p>
                    <p><strong>8.责任的免除</strong> </p>
                    <p>8.1 冰海互娱就其所提供的服务，不负任何明示或默示的担保责任，而其所提供的服务的稳定、安全、无误及不中断性亦有可能因第6条所述情形而受到影响。用户应自行承担使用执行服务所有的风险及因此可能导致的损害，包括而不限于其因执行线上游戏或自行由深圳市冰海互娱科技有限公司官方网站下载游戏或资料图片而导致用户或其所使用的计算机系统非因冰海互娱主观原因造成的损害，或发生任何资料的流失等。 </p>
                    <p>8.2 冰海互娱对其服务不保证不出现任何程序BUG,并对由此可能产生的问题不承担任何赔偿责任。 </p>
                    <p><strong>9.赔偿责任的排除及限制</strong> </p>
                    <p>冰海互娱对于用户使用其服务或无法使用网络所导致的任何直接、间接、衍生的损害或所失利益不负任何损害赔偿责任。若依法无法完全排除损害赔偿责任时，冰海互娱的赔偿责任亦以用户就使用服务所支付冰海互娱的价款为限。 </p>
                    <p><strong>10.链接</strong></p>
                    <p>冰海互娱在深圳市冰海互娱科技有限公司网站的所有网页上所提供的所有链接，可能链接到其它个人、公司或组织的网站，提供该等网站的目的，是便利用户自行搜寻或取得信息，冰海互娱对于被链接的个人、公司或组织的网站所提供的产品、服务或信息，不担保其真实性、完整性、实时性或可信度、这些个人、公司或组织与冰海互娱间亦不存在任何雇用、委任、代理、合伙或其它类似的关系。 </p>
                    <p><strong>11.冰海互娱的终止权</strong> </p>
                    <p>用户应确实遵守本服务条款及有关法律命令的规定。冰海互娱对于用户是否违反服务条款有最终决定权。若冰海互娱经相关数据分析认定用户违反服务条款，用户同意冰海互娱可以随时终止用户的账号及密码使用权。</p>
                    <p>为避免争议，本协议涉及到的有关技术方面的问题，用户同意以冰海互娱系统所记载的数据作为判断标准，冰海互娱保证该数据的真实性且该数据未经政府有关部门要求，不向包括用户在内的任何人披露，以保护冰海互娱的商业安全。该检测数据是唯一的、排他的结果 </p></p> 
                    <p><strong>12.损害赔偿</strong> </p>
                    <p>用户若违反服务条款或相关法令，导致冰海互娱、或其关系企业、受雇人、受托人、代理人或/及其它相关履行辅助人因此而受到损害或支出费用（包括但不限于由法律诉讼、行政程序等所支出的诉讼费用、律师费用、实际遭受损失的费用等），用户应负担损害赔偿责任。 </p>
                    <p><strong>13.停止或变更服务</strong> </p>
                    <p>13.1 冰海互娱根据本协议取消或停止用户的资格或加以限制，用户不得要求补偿或赔偿。</p>
                    <p>13.2 冰海互娱有权仅根据其判断，单方决定新增、修改、删除、暂停或终止其所提供的全部或部分服务（包括且不限于增加、暂停或终止某个游戏的运营），且无需另行个别通知用户，用户不得因此要求任何补偿或赔偿。</p>
                    <p><strong>14.广告信息或促销计划</strong></p>
                    <p>冰海互娱在提供服务过程中可能在有关网站位置上可能刊登商业广告、或其它活动促销的广告。这些内容系广告商或商品服务提供者所为，冰海互娱仅是刊登内容的媒介。用户通过深圳市冰海互娱科技有限公司官方网站或其所链接的网站所购买的服务或商品，其交易行为仅存于用户与该商品或服务的提供者之间，与冰海互娱无关。</p>
                    <p><strong>15.服务条款的修改</strong> </p>
                    <p>由于用户及市场状况的不断变化，冰海互娱保留随时修改本服务条款的权利，修改本服务条款时，冰海互娱将于相关网站首页公告修改的事实，而不另对用户进行个别通知。若用户不同意修改的内容，可停止使用冰海互娱的服务。若用户继续使用冰海互娱的服务，即视为用户业已接受冰海互娱所修订的内容。</p>
                    <p><strong>16.个别条款的效力</strong> </p>
                    <p>本服务条款所定的任何条款的一部或全部无效者，不影响其它条款的效力。</p>
                    <p><strong>17.适用法律</strong></p>
                    <p>本服务条款的解释，效力及纠纷的解决，适用于中华人民共和国法律。</p>
                    <p>若用户和冰海互娱之间发生任何纠纷或争议，首先应友好协商解决，协商不成的，用户在此完全同意将纠纷或争议提交冰海互娱所在地法院管辖。</p>
                    <p><strong>18.青少年用户特别提示</strong></p>
                    <p>青少年用户必须遵守全国青少年网络文明公约：要善于网上学习，不浏览不良信息；要诚实友好交流，不侮辱欺诈他人；要增强自护意识，不随意约会网友；要维护网络安全，不破坏网络秩序；要有益身心健康，不沉溺虚拟时空。</p>
                    <p><strong>19.用户身份的取消</strong></p>
                    <p>任何注册账户有如下任意一种或多种行为而导致该账号被取消，冰海互娱不承担任何责任：</p>
                    <p>
                        <ul>
                            <li>有违反服务条款的行为。</li>
                            <li>滥用所享受的权利。</li>
                            <li>提供虚假注册信息。</li>
                            <li>通过不正当手段使用冰海互娱服务。</li>
                            <li>有损害其他用户的行为。</li>
                            <li>违反中国的法律、法规。</li>
                            <li>违背社会风俗和社会道德的行为。</li>
                            <li>其他违反本协议约定的行为。</li>
                        </ul>
                    </p>
                    <p><strong>20.您可以通过www.icesea.club联络冰海互娱。遇有任何问题冰海互娱将尽速为你处理。如果你对这些条款有任何疑问，可以询问冰海互娱的客服部门。为了用户的利益，请你认真填写正确用户的email地址和身份证号码，以便冰海互娱更好地为你服务。</strong></p>
                    <p><strong>本条款最终解释权归深圳市冰海互娱科技有限公司所有。</strong></p>
                </div>
            </section>
            <%- include('footer'); -%>
    </body>
</html>