<!DOCTYPE html>
<html>
<%- include('header'); -%>
    <body>
        <%- include('navbar'); -%>
            <section class="content">
                <div class="container contact-us">
                    <div class="category">联系我们</div>
                    <p>公司名称：深圳市冰海互娱科技有限公司</p>
                    <p>公司地址：深圳市大冲都市花园D栋13A</p>
                    <p>联系电话：0755-32901022</p>
                </div>
            </section>
            <%- include('footer'); -%>
    </body>
</html>