<footer class="footer">
    <div class="container">
        <div class="propose">
            抵制不良游戏&nbsp;|&nbsp;拒绝盗版游戏&nbsp;|&nbsp;注意自我保护&nbsp;|&nbsp;谨防上当受骗&nbsp;|&nbsp;适度游戏益脑&nbsp;|&nbsp;沉迷游戏伤身&nbsp;|&nbsp;合理安排时间&nbsp;|&nbsp;享受健康生活
        </div>
        <div class="site-info">
            <div class="misc">
                <span class="company">深圳市冰海互娱科技有限公司</span>
                <span>粤ICP备18060123号-1</span>
            </div>
        </div>
    </div>
</footer>