<!DOCTYPE html>
<html>
    <%- include('header'); -%>
  <body>
    <%- include('navbar'); -%>
    <section class="content">
        <div class="category">游戏</div>
        <div class="games">
            <div class="game">
                <img src="/images/fatU.png" alt="">
            </div>
            <div class="game">
                <img src="/images/tennis.png" alt="">
            </div>
        </div>
    </section>  
    <%- include('footer'); -%>
  </body>
</html>
