<!DOCTYPE html>
<html>
    <%- include('header'); -%>
  <body>
    <%- include('navbar'); -%>
    <section class="container games-container">
        <!-- <div class="category">游戏</div> -->
        <div class="games columns">
            <div class="game column is-3">
                <div class="about">
                    <img src="/images/GamePicture1.jpg" alt="">
                    <div class="name">投食大作战</div>
                    <div class="desc">投食大作战是一款基于自研H5物理引擎的2D实时网络对战游戏，和小伙伴一起，向对方投掷食物，把他喂胖。</div>
                    <div class="download-wrap">
                        <a class="button is-danger">进入下载</a>
                    </div>
                </div>
            </div>
            <div class="game column is-3">
                <div class="about">
                    <img src="/images/GamePicture2.jpg" alt="">
                    <div class="name">乐射乐开心</div>
                    <div class="desc">乐射乐开心是一款音乐节奏类休闲游戏，踩着音乐的节拍，瞄准爱心，射出你的爱神之箭，挑战排行榜最高分！</div>
                    <div class="download-wrap">
                            <a class="button is-danger">进入下载</a>
                        </div>
                </div>
            </div>
            <div class="game column is-3">
                <div class="about">
                    <img src="/images/GamePicture3.jpg" alt="">
                    <div class="name">首富爸爸</div>
                    <div class="desc">首富爸爸是一款卡牌叙事类游戏，人生是由一系列选择组成，在游戏人生中，你将如何选择？快来展开你的首富人生！</div>
                    <div class="download-wrap">
                            <a class="button is-danger">进入下载</a>
                        </div>
                </div>
            </div>
            <div class="game column is-3">
                <div class="about">
                    <img src="/images/GamePicture4.jpg" alt="">
                    <div class="name">网球大作战</div>
                    <div class="desc">网球大作战是一款3D实时对战游戏，在球场上奔跑，抓住时机挥舞球拍，将球击回给你的对手，并取得最终的胜利！</div>
                    <div class="download-wrap">
                            <a class="button is-danger">进入下载</a>
                        </div>
                </div>
            </div>
        </div>
        <div class="games columns">
            <div class="game column is-3">
                <div class="about">
                    <img src="/images/GamePicture5.jpg" alt="">
                    <div class="name">动物射击</div>
                    <div class="desc">动物射击是一款萌系3D对战射击类游戏，和你的对手一起，瞄准场上随时出现的靶子，击中靶心，取得胜利！</div>
                    <div class="download-wrap">
                            <a class="button is-danger">进入下载</a>
                        </div>
                </div>
            </div>
        </div>
    </section>  
    <%- include('footer'); -%>
  </body>
</html>
