<!DOCTYPE html>
<html>
    <%- include('header'); -%>
  <body>
    <%- include('navbar'); -%>
    <section class="content">
        <div class="category">游戏</div>
        <div class="games">
            <div class="game">
                <img src="/images/fatU.png" alt="">
                <div class="name">投食大作战</div>
                <div class="desc">回合制PVP，互相喂胖的游戏</div>
            </div>
            <div class="game">
                <img src="/images/tennis.png" alt="">
                <div class="name">网球大作战</div>
                <div class="desc">实时PVP的网球对战游戏</div>
            </div>
        </div>
    </section>  
    <%- include('footer'); -%>
  </body>
</html>
