<!DOCTYPE html>
<html>
<%- include('header'); -%>
    <body>
        <%- include('navbar'); -%>
            <section class="content">
                <div class="category">纠纷处理</div>
                <div class="container law">
                    <p>
                        深圳市冰海互娱科技有限公司营运的冰海互娱游戏（以下简称冰海互娱）在此特别提醒用户在注册、登陆本网络游戏前请务必仔细阅读本《纠纷处理》及《冰海互娱用户使用协议》（未成年人应当在其法定监护人陪同下阅读）中的各个条款，以确保您在享受本网络游戏服务的同时维护自身合法权益：
                    </p>
                    <p>
                        一、用户之间纠纷处理方式 
                    </p>
                    <p>
                        1．冰海互娱仅作为本网络游戏的运营商，如若本网络游戏用户之间发生纠纷且无法协商一致的，可向国家相关行政机关或司法机关寻求解决包括但不限于向公安机关报案、申请仲裁或向人民法院提起诉讼等。冰海互娱将会为实名注册用户提供必要的协助和支持，并根据有关行政机关和司法机关的要求承担一定的举证责任或采取必要措施。
                    </p>
                    <p>
                        2．本网络游戏用户之间发生纠纷的，也可向冰海互娱的客服人员投诉并举证。用户需提供与其账号注册信息一致的个人有效身份证件、必要的国家行政或司法机关文件和其他冰海互娱要求提供的相关证据。经冰海互娱审核确认后，可以给予必要的协助和支持。
                    </p>
                    <p>
                        二、用户与冰海互娱之间纠纷处理方式
                    </p>
                    <p>
                        1．如本网络游戏用户对冰海互娱的服务有任何异议的，可以向冰海互娱的客服人员投诉并举证。查证属实的，冰海互娱将立即更正并按照现行法律规定给予用户必要的补偿。
                    </p>
                    <p>
                        2．如本网络游戏用户对冰海互娱的服务有任何异议的，也可以向双方约定（具体参见《冰海互娱用户使用协议》）的冰海互娱公司所在地人民法院提起诉讼。
                    </p>
                </div>
            </section>
            <%- include('footer'); -%>
    </body>
</html>