<!DOCTYPE html>
<html>
    <%- include('header'); -%>
  <body>
    <%- include('navbar'); -%>
    <section class="content">
        <div class="category">商场充值</div>
    </section> 
    <%- include('footer'); -%>
  </body>
</html>