<section class="section top-loginbar">
    <div class="container">
        <div class="login">
            <a>登陆</a>
            <a>注册</a>
        </div>
        <div class="delimiter">|</div>
        <div class="charge">
            <a>充值</a>
            <a>简体中文</a>
        </div>
    </div>
</section>
<section class="section top-navbar">
    <div class="columns">
        <div class="column is-4 logo">
            <img src="images/corp.png" alt="深圳市冰海互娱科技有限公司">
        </div>
        <div class="column is-8 navmenu">
            <a class="menu" href="/">首页</a>
            <a class="menu" href="/market"> 商场充值</a>
            <a class="menu" href="/law">纠纷处理方式</a>
            <a class="menu" href="/contactus">联系我们</a>
            <a class="menu" href="/about">关于我们</a>
            <a class="menu" href="/supervision">家长监控系统</a>
            <a class="menu" href="/agreement">用户协议</a>
        </div>
    </div>
</section>