<!DOCTYPE html>
<html>
<%- include('header'); -%>
    <body>
        <%- include('navbar'); -%>
            <section class="content">
                <div class="category">家长监控系统</div>
                <div class="container supervision">
                    <p>
                        “网络游戏未成年人家长监护工程”是一项由完美时空、盛大、腾讯、网易、搜狐畅游、巨人六家网络游戏企业共同发起并参与实施，由中华人民共和国文化部指导，旨在加强家长对未成年人参与网络游戏的监护，引导未成年人健康、绿色参与网络游戏，和谐家庭关系的社会性公益行动。
                    </p>
                    <p>“家长监护机”制针对目前未成年人缺乏自控及自律能力，容易陷入沉迷；少数监护人缺少时间照顾孩子，不能及时监督孩子游戏时间的现状，而推出的一种可由家长实施监控，纠正部分未成年子女沉迷游戏的保护机制。</p>
                    <p>
                        未成年人健康参与网络游戏提示
                    </p>
                    <div class="apply">
                        <div class="requirement">
                            <h5>申请条件</h5>
                            <p>
                                1、	申请人需为被监护未成年人的法定监护人；
                            </p>
                            <p>
                                2、	申请人的被监护人年龄小于18周岁；
                            </p>
                            <p>
                                3、	申请人需为大陆公民，不含港、澳、台人士。
                            </p>
                        </div> 
                        <div class="materials">
                            <h5>申请需要提交的材料</h5>
                            <p>
                                1、监护人信息表（包含监护人的身份证明复印件）；
                            </p>
                            <p>
                                2、被监护人信息表（包含被监护人所玩游戏相关信息及身份证明复印件）；
                            </p>
                            <p>
                                3、填写网络游戏未成年人家长监护申请书、保证书、授权书并手工签字（需下载，填写并打印，签字）；
                            </p>
                            <p>
                                4、申请人与被监护人的监护关系证明文件（户口簿或有关机关出具的证明文件）。
                            </p>
                        </div>
                        <div class="method">
                            <h5>申请方式</h5>
                            <h6>1.电话服务</h6>
                            <p>
                                监护人可以通过来专线电话来咨询，7*24小时，全年无休，专线：0755-32901022 （资深客服解答）。
                            </p>
                            <h6>2.接待服务</h6>
                            <p>
                                监护人可以直接上门进行申请，接待服务受理时间7*8小时（9:30—17:15），全年无休，接待地址：深圳市大冲都市花园D栋13A。 
                            </p>
                            <h6>3.传真服务</h6>
                            <p>
                                监护人可以通过传真发送相关信息，进行申请，传真24小时受理，传真号码：0755-32901022。  
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <%- include('footer'); -%>
    </body>
</html>